html * {}

::selection {
    background: #859bff;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #859bff;
    /* Gecko Browsers */
}

#navBar {
    position: fixed;
    padding: 12px 0px 10px 15px;
    top: 5%;
    right: 5%;
    box-shadow: 0px 5px 30px rgba(0, 28, 155, 0.31);
    margin-left: 3%;
    background: #214aff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btnText {
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}

.button,
.button:link,
.button:visited,
.button:focus,
.button:active {
    font-family: 'Montserrat', sans-serif;
    border: solid;
    border-color: #214aff;
    color: #214aff;
    padding: 0px 25px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
}

.button:hover {
    background: #214aff;
    color: white;
}

.navElement,
.navElement:link,
.navElement:visited,
.navElement:focus,
.navElement:active {
    font-family: 'Roboto Mono', monospace;
    color: white;
    margin-right: 20px;
    font-size: 1.4rem;
    text-align-last: none;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.navElement:hover {
    text-decoration: underline;
}

#bottomLinks {
    position: fixed;
    bottom: 4%;
    background: white;
    left: 3%;
    border: solid 3px #214aff;
    padding: 5px 15px 10px 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#reachMe {
    font-family: 'Roboto Mono', monospace;
    color: #214aff;
    margin-bottom: 5px;
    font-size: 1.4rem;
}

#linkElement {
    color: #214aff;
    transition: all 0.1s ease-in-out;
}

#linkElement:hover {
    color: black;
}

.topButton,
.topButton:link,
.topButton:visited,
.topButton:focus,
.topButton:active {
    font-family: 'Karla', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 20px;
    text-decoration: none;
    font-size: 1.7rem;
    transition: all 0.1s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.topButton:hover {
    color: white;
}

.textButton,
.textButton:link,
.textButton:visited,
.textButton:hover,
.textButton:focus,
.textButton:active {
    font-family: 'Roboto Mono', sans-serif;
    color: #214aff;
    padding: 10px;
    border: solid 5px #214aff;
    font-size: 2.8rem;
    position: relative;
    transition: all 0.25s ease-in-out;
}

.textButton:hover {
    background: #214aff;
    color: white;
}

#sectionT {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    color: #214aff;
    white-space: nowrap;
    margin-left: 5%;
    margin-top: -0.5%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sectionTdark {
    color: #ececec;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    white-space: nowrap;
    margin-left: 5%;
    margin-top: -0.5%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#splash {
    background: #ececec;
    background-size: cover;
    background-attachment: fixed;
    min-width: 1200px;
    min-height: 900px;
    width: 100;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#logo {
    position: absolute;
    width: 10%;
    top: 6%;
    left: 5%;
}

.heroImage {
    background: url(images/purple.png);
    background-size: cover;
    height: 100%;
    width: 58%;
    float: right;
    -webkit-clip-path: polygon(40% 0, 100% 0, 100% 100%, 70% 100%);
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 40% 100%);
}

#nameGroup {
    top: 50%;
    margin: 0 0 0 5%;
    position: relative;
}

#myName span {
    font-weight: 600;
    color: #214aff;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}

.subtitleText {
    font-family: 'Roboto Mono', monospace;
    color: #214aff;
    display: inline;
    margin: 0;
}

#bigDescriptionT {
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    font-weight: 300;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    right: 0px;
    width: 100%;
    line-height: normal;
    text-align: center;
}

#smallDescriptionT {
    font-family: 'Roboto Mono', sans-serif;
    color: white;
    line-height: normal;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

#experience {
    background: #ececec;
    background-size: cover;
    background-attachment: fixed;
    min-width: 1200px;
    min-height: 900px;
    width: 100%;
    height: 100vh;
    position: relative;
    float: left;
}

#experienceColumns {
    position: relative;
    top: 12%;
    width: 96%;
    left: 2%;
    height: 75vh;
}

.expBox {
    padding: 10px;
    height: 61%;
    border: solid 3px black;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.expBox:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.expCategory {
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    padding-left: 15%;
    padding-right: 15%;
    color: #000000;
    line-height: 125%;
    text-align: center;
    font-size: 200%;
}

.expDescription {
    font-family: 'Roboto', sans-serif;
    color: #214aff;
    font-weight: 400;
    margin: 5%;
    text-align: center;
    font-size: 125%;
}

ul.expList li {
    font-family: "Roboto", sans-serif;
    color: #454545;
    list-style-type: circle;
    margin-left: 8%;
}

#softwareDev {
    font-family: 'Roboto Mono', monospace;
    margin: 10% 0 5% 8%;
}

#nestedList li {
    font-family: "Roboto", sans-serif;
    list-style-type: disc;
    font-size: 80%;
    margin-left: 20%;
}

#nestedListhack li {
    font-family: "Roboto", sans-serif;
    list-style-type: disc;
    margin-left: 20%;
}

#expButtons {
    position: relative;
    width: 50%;
    white-space: nowrap;
    text-align: center;
    margin: 30px auto 0 auto;
}

#courses {
    background: linear-gradient(rgba(33, 74, 255, 0.9), rgba(33, 74, 255, 0.9)), url(images/books.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-width: 1200px;
    min-height: 325px;
    width: 100%;
    height: 38vh;
    position: relative;
    float: left;
}

#coursesBox {
    width: 80%;
    height: 50%;
    margin-left: 8%;
    margin-top: 6%;
}

ul.courseList li {
    color: white;
    font-family: "Roboto", sans-serif;
    list-style-type: disc;
    font-size: 2rem;
}

#projects {
    background: #ececec;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-width: 1200px;
    min-height: 900px;
    height: 100vh;
    float: left;
    position: relative;
    overflow: hidden;
    display: block;
    float: none;
}

.projBody {
    font-family: 'Roboto Mono', monospace;
    color: black;
    text-align: center;
    font-weight: 300;
    width: 70%;
    margin: 10% 0 2% 0;
    transform: translateX(20%);
}

.projectCards {
    position: absolute;
    transform: translateX(8%);
    clear: left;
}

.projLogo {
    margin: 0% 0 0 0;
    padding: 20px 0 20px 0;
}

.projName {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
}

.projDescription {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.projButton {
    font-family: 'Roboto Mono', sans-serif;
}

.projLinks {
    bottom: 100px;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 5rem;
}

#linkedin {
    transition: all 0.15s ease-in-out;
    color: #214aff;
}

#linkedin:hover {
    color: black;
}

#github {
    transition: all 0.15s ease-in-out;
    color: #214aff;
}

#github:hover {
    color: black;
}

@media all and (min-width: 1200px) {
    #myName {
        font-size: 5vw;
    }
    .projBody {
        font-size: 2vw;
    }
    #sectionT {
        font-size: 3vw;
    }
    .subtitleText {
        font-size: 1.5vw;
    }
    #bigDescriptionT {
        font-size: 2vw;
    }
    #smallDescriptionT {
        font-size: 1.2vw;
    }
    #softwareDev {
        font-size: 2vw;
    }
    #graphicDesign {
        font-size: 1.6vw;
    }
    #androidDev {
        font-size: 1.6vw;
    }
    #otherExp {
        font-size: 1vw;
    }
}

@media (max-width: 1199px) and (min-width: 0px) {
    #myName {
        font-size: 5.95rem;
    }
    #sectionT {
        font-size: 3.6rem;
    }
    .projBody {
        font-size: 2.4rem;
    }
    .subtitleText {
        font-size: 1.8rem;
    }
    #bigDescriptionT {
        font-size: 2.4rem;
    }
    #smallDescriptionT {
        font-size: 1.45rem;
    }
    #softwareDev {
        font-size: 2.4rem;
    }
    #graphicDesign {
        font-size: 1.9rem;
    }
    #androidDev {
        font-size: 1.9rem;
    }
    #otherExp {
        font-size: 1.2rem;
    }
}