::selection {
  background: #FF9800;
  color: white;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #FF9800;
  color: white;
  /* Gecko Browsers */
}

body {
  font-size: 14pt;
  background: #ECECEC;
  font-family: 'Roboto', sans-serif;
}

.navElement,
.navElement:link,
.navElement:visited,
.navElement:focus,
.navElement:active {
  font-family: 'Roboto Mono', monospace;
  font-size: 10pt;
  color: white;
  text-align-last: none;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  white-space: nowrap;
}

.navElement:hover {
  text-decoration: underline;
}

#navBar {
  width: 400px;
  padding: 12px 24px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
  background: black;
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.linkElement {
  font-size: 11pt !important;
  color: #FF9800;
  transition: all 0.1s ease-in-out;
}

.linkElement:hover {
  color: black;
}

#socialLinks {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  padding: 2px 20px 5px 20px;
  width: 40%;
  position: relative;
  background: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#floatTop {
  display: flex;
  flex-direction: column;
  top: 5%;
  right: 5%;
  position: fixed;
}

.sectionT {
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  color: #FF9800;
  margin: 0 50px 50px 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dark {
  color: white;
}

#splash {
  background-image: url(images/pattern.png);
  background-repeat: repeat;
  background-attachment: fixed;
  height: 100vh;
}

#logo {
  position: absolute;
  width: 10%;
  top: 5%;
  left: 3%;
}

#sideImage {
  background: url(images/profile.jpg);
  background-size: cover;
  height: 100%;
  width: 58%;
  float: right;
  -webkit-clip-path: polygon(40% 0, 100% 0, 100% 100%, 70% 100%);
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 40% 100%);
}

.card .card-action {
  border-top: 1px solid #D1D1D1;
  padding: 16px 24px 10px 24px;
}

#nameGroup {
  top: 50%;
  margin: 0 0 0 6%;
  position: relative;
}

#myName {
  font-family: 'Chivo', sans-serif;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.subtitleText {
  font-family: 'Roboto Mono', monospace;
  color: white;
}

#skills {

  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding: 50px;
}

.skillBox {
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 6px;
  background: white;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .08);
  transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
}

.skillBox:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, .12);
  transform: translate(0, 6px);
  transition-delay: 0s !important;
}

.skillCategory {
  font-family: 'Roboto Mono', monospace;
  font-size: 20pt !important;
  font-weight: 900;
  color: black;
  line-height: 125%;
  text-align: center;
  font-size: 200%;
}

.skillDescription {
  font-size: 14pt !important;
  color: #FF9800;
  font-weight: 400;
  margin: 15px 0;
  text-align: center;
}

ul.skillList li {
  color: #454545;
  list-style-type: circle;
}

#nestedList li {
  list-style-type: disc;
}

#experience {
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding: 50px;
}

#experience h4 {
  font-family: 'Roboto Mono', monospace;
}

.expBox {
  border-radius: 0;
  background: white;
  margin-bottom: 30px;
}

.expBody {
  font-size: 12pt;
}

#courses {
  background: linear-gradient(rgba(255, 178, 33, 0.9), rgba(255, 101, 33, 0.9)), url(images/books.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding: 40px;
}

.subject {
  font-family: 'Roboto Mono', monospace;
  color: white;
  background: black;
  padding: 5px 10px;
  display: inline-block;
  margin-left: 20px;
}

ul.courseList li {
  color: white;
  list-style-type: disc;
}

ul.courseList::selection {
  background: black;
}

#projects {
  background-attachment: fixed;
  padding: 40px 40px 120px 40px;
}

#projects .card-title {
  font-size: 18pt;
  font-weight: 300;
}

#projects .card-text {
  font-size: 12pt;
}

.projLogo {
  padding: 30px 0;
}

.square {
  margin: 0 auto;
}

.projButton {
  padding: 20px !important;
  border-radius: 0 0 4px 4px;
  border: none;
  font-family: 'Roboto Mono', sans-serif;
  background: rgba(0, 0, 0, .025);
}

.projButton:hover,
.projButton:active {
  background-color: black !important;
  border-color: black !important;
}

.projButton:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,.5);
}

.projLinks {
  width: 100%;
  text-align: center;
  font-size: 36pt;
}

#linkedin {
  transition: all 0.15s ease-in-out;
  color: #FF9800;
}

#linkedin:hover {
  color: black;
}

#github {
  transition: all 0.15s ease-in-out;
  color: #FF9800;
}

#github:hover {
  color: black;
}


/*Large Devices*/

@media all and (min-width: 1399px) {
  #myName {
    font-size: 5vw;
  }
  .sectionT {
    font-size: 3vw;
  }
  .subtitleText {
    font-size: 1.38vw;
  }
}


/*Medium sized devices*/

@media (max-width: 1399px) and (min-width: 1180px) {
  #myName {
    font-size: 42pt;
  }
}


/*Tablets*/

@media (max-width: 1180px) and (min-width: 767px) {
  #myName {
    font-size: 42pt;
  }
  #sideImage {
    display: none;
  }
  .skillBox,
  .expBox {
    margin-bottom: 15px;
  }
  #experience h6 {
    text-align: left;
  }
  .expImage {
    margin: 0 0 20px 0;
  }
}


/*Phones*/

@media (max-width: 767px) and (min-width: 0px) {
  .skillBox:hover {
    box-shadow: 0 20px 20px rgba(0, 0, 0, .08);
    transform: none;
    transition-delay: none;
  }
  #sideImage,
  #logo,
  #bottomLinks {
    display: none;
  }
  #myName {
    font-size: 32pt;
  }
  .sectionT {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .subtitleText {
    font-size: 14pt;
    margin: 20px 20px 0 0;
  }
  .skillBox,
  .expBox {
    margin-bottom: 15px;
  }
  .expImage {
    margin: 0 0 20px 0;
  }
  #experience h6 {
    text-align: left;
  }
  #sideImage,
  #logo {
    display: none;
  }
  #projects,
  #skills,
  #experience,
  #courses {
    padding: 20px;
  }
  #navBar {
    width: 300px;
    padding: 12px 20px;
  }
  #socialLinks {
    padding: 2px 15px 5px 15px;
  }
}